form.add-comment {
  display: flex;
  flex-direction: column;
  gap: 10px;
  transition: all 0.3s ease;
  .avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

  .input-group {
    align-items: center;
    display: flex;
    gap: 10px;
  }

  input {
    color: #000;
    flex: 1;
  }

  .btns {
    display: flex;
    justify-content: flex-end;
    gap: 15px;

    .btn {
      padding: 10px 15px;
      border-radius: 20px;
      transition: all 0.3s ease;
    }

    .cancel-btn {
      &:hover {
        background-color: #aaa;
      }
    }

    .comment-btn {
      background-color: #3498db;
    }
  }
}
