.comment-container {
  background-color: #212121;
  border-radius: 0 15px 15px 0;
  max-width: 450px;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  > * {
    padding: 10px 10px 10px 40px;
  }

  .title {
    text-transform: capitalize;
    margin: 0;
    .comments-count {
      color: #7f8c8d;
    }
  }
  .comments {
    display: flex;
    gap: 25px;
    flex-direction: column;

    height: 90%;
    overflow: auto;

    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-thumb {
      background: gray;
      border-radius: 5px;
      transition: all 1s ease;
    }

    &::-webkit-scrollbar-track {
      background: #000;
      border-radius: 5px;
    }
  }

  .add-comment-wrapper {
    width: 100%;
    flex: 1;
    border-top: 1px solid gray;
    background-color: #212121;
    padding: 10px 20px 20px 40px;
    transition: all 0.3s ease;
  }
}
